#contacts-bar {
    grid-area: 2/6/4/7;
    justify-self: end;
}

#contacts-bar a {
    margin-bottom: 20px;
    display: block;
    border-left:  2px dotted darkslateblue;
    padding-left: 5px;
}

#contacts-bar h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    color: rgb(119, 33, 33);
}

#contact-me a, #visit-me a {
    text-decoration: none;
    color: rgb(25,51,102);
}

#contact-me a:hover, #visit-me a:hover {
    color: rgb(91, 132, 215);
}