@import "shared.css";
@import "letter.css";
@import "contacts.css";

#letter-grid {
    display: grid;
    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
    align-items: stretch;
}

#contacts-bar {
    grid-area: 3/2/4/7;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content {
    grid-area: 2/2/3/7;
    margin-top: 50px;
}

#contacts-bar a {
    margin-right: 20px;
    display: inline;
}

#contacts-bar h3 {
    margin-right: 20px;
    font-size: 1.5rem;
    display: inline;
}

#contact-me, #visit-me {
    display: inline-block;
}

#header a {
    text-decoration: none;
    color: #7c523f;
}

#header button {
    font-size: 0.8em;
    border: none;
    padding: 5px 15px 5px 15px;
    background-color: antiquewhite;
    border-radius: 5px;
}

blockquote {
    margin: 0;
}

@media (max-width: 300px) {
    body {
        font-size: 10px;
    }

    #header h1 {
        font-size: 2rem;
    }

    .letter-top {
        display: flex;
        flex-direction: column;
    }

}
